.quais-servicos {
  padding: 64px, 80px;
  text-align: left;
  background-color: ghostwhite;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}

img {
  margin: 64px, auto;
}

.paragraph01 {
  max-width: 950px;
  margin-bottom: 40px;
}

.container-servicos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#shop-cv,
#verificaCep {
  flex: 1;
  min-width: 300px;
}


